<section class="section-contact"><h2 id="Details">Contact Details</h2>
    <hr class="bar"/>
    <div class="social-links"><a href="https://www.facebook.com/gautam050">
        <div class="glyph-icon flaticon-facebook3"></div>
    </a><a href="https://www.linkedin.com/in/gautam-kumar-6a313a11a/">
        <div class="glyph-icon flaticon-linkedin"></div>
    </a><a href="https://github.com/rptgautam">
        <div class="glyph-icon flaticon-github"></div>
    </a><a href="https://twitter.com/gautam0504">
        <div class="glyph-icon flaticon-twitter"></div>
        </a></div>
    <hr class="bar"/>
    <p><h4>GET IN TOUCH</h4></p>
    <a href="mailto:gautam.official.it@gmail.com" class="biglink" style="color: #005cbf">gautam.official.it@gmail.com</a></section>
