<!--<section class="alt-section"><h2 id="work">Work</h2>-->
    <!--<div class="thumb-container"><a href="" class="thumb-unit">-->
        <!--<div class="tumb-overlay"><strong> Typo</strong>-->
            <!--<div class="zoom-icon"></div>-->
        <!--</div>-->
    <!--</a><a href="" class="thumb-unit">-->
        <!--<div class="tumb-overlay"><strong> Typo</strong>-->
            <!--<div class="zoom-icon"></div>-->
        <!--</div>-->
    <!--</a><a href="" class="thumb-unit">-->
        <!--<div class="tumb-overlay"><strong> Typo</strong>-->
            <!--<div class="zoom-icon"></div>-->
        <!--</div>-->
    <!--</a><a href="" class="thumb-unit">-->
        <!--<div class="tumb-overlay"><strong> Typo</strong>-->
            <!--<div class="zoom-icon"></div>-->
        <!--</div>-->
    <!--</a><a href="" class="thumb-unit">-->
        <!--<div class="tumb-overlay"><strong> Typo</strong>-->
            <!--<div class="zoom-icon"></div>-->
        <!--</div>-->
    <!--</a></div>-->
<!--</section>-->

<h2 id="Blog"> Projects </h2>
<hr class="bar-blog"> </hr>
{% for project in site.categories['project_blog'] limit:3%}

<div class="post-header title">
    <a href="{{ project.url_pr }}"><h1 class="post-title">{{ project.title }}</h1></a>
</div>
<div class="post-header date">
    <p class="project-meta">{{ project.date | date: "%B %-d, %Y — %B %-d, %Y" }}
        {% if project.author %} • {{ project.author }}{% endif %}{% if project.meta %} • {{ post.meta }}
    {{ project.description }}{% endif %}<br/>{{project.description}}</p>
</div>

{% endfor %}
<hr class="bar-blog"> </hr>